.backdrop {
  width: 100%;
  z-index: 1;
  height: 100vh;
  position: fixed;
  background: #00000030;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  max-height: 500px;
  background: white;
  border-radius: 5px;
  padding: 1rem;
}

.main {
  display: flex;
  justify-content: center;
}
